<div fxLayout="column"  fxLayoutGap="30px">
<div fxFlex="20" fxShow.xs="false">&nbsp;</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
<div fxFlex.xs="10" fxFlex.sm="10" fxFlex="20">&nbsp;</div>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>NOA</mat-card-title>
      <mat-card-subtitle>President</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutGap="10px">
                <span>Titre :</span>
                <span>Président</span>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">
                <span>Téléphone :</span>
                <span>+35222222222222</span>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">
                <span>Email :</span>
                <span>info2zeros3f@gmail.com</span>
            </div>
        </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Jean Calvin</mat-card-title>
      <mat-card-subtitle>Vice président</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutGap="10px">
                <span>Titre :</span>
                <span>Vice président</span>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">
                <span>Téléphone :</span>
                <span>+35222222222222</span>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">
                <span>Email :</span>
                <span>info2zeros3f@gmail.com</span>
            </div>
        </div>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
    <div fxFlex.xs="10" fxFlex.sm="10" fxFlex="20" fxShow.xs="false">&nbsp;</div>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Maurice</mat-card-title>
          <mat-card-subtitle>Fondateur</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="row" fxLayoutGap="10px">
                    <span>Titre :</span>
                    <span>Fondateur</span>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <span>Téléphone :</span>
                    <span>+35222222222222</span>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <span>Email :</span>
                    <span>info2zeros3f@gmail.com</span>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Francis</mat-card-title>
          <mat-card-subtitle>Censeur</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="row" fxLayoutGap="10px">
                    <span>Titre :</span>
                    <span>Censeur</span>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <span>Téléphone :</span>
                    <span>+35222222222222</span>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <span>Email :</span>
                    <span>info2zeros3f@gmail.com</span>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
</div>