<div fxLayout="column" fxLayoutGap="10px">
<div fxFlex="10"></div>
<div fxLayout="row">   
        <div fxFlex="20" fxShow.xs="false">&nbsp;</div>
        <button (click)="ajouter()" *ngIf="cookiesService.isAdministrateur">Ajouter</button>  
</div>
<div fxLayout="column" fxLayoutGap="40px">
    <event *ngFor="let event of listEvents; index as i" [galleryImages]="event.galeries" [link]="event.youtube"
    [height]="height" [width]="width"
    [titre]="event.titre" [description]="event.description"></event>
</div>
</div>
