<div fxShow.xs="false" fxLayout="row" fxLayoutGap="20px">

    <a routerLink="/accueil" routerLinkActive="active"> Acceuil</a>

    <a routerLink="/nous" routerLinkActive="active" linkColor> A propos de nous</a>

    <a [routerLink]="['/actualite']" linkColor> Actualités</a>

    <a [routerLink]="['/acceuil']" linkColor> Evênements</a>

    <a [routerLink]="['/membres']" linkColor> Menbres</a>

    <a [routerLink]="['/acceuil']" linkColor> Contact</a>

    <span class="material-icons" (click)="openDialog()">account_circle</span>
     
</div>





 <div fxLayout.xs="row" fxLayoutGap.xs="15px" fxShow.xs="true" fxShow="false">
        <a routerLink="/accueil" routerLinkActive="active" linkColor> Acceuil</a>
   
    
        <a routerLink="/nous" routerLinkActive="active" linkColor> A propos de nous</a>
    
        <a [routerLink]="['/actualite']" linkColor> Actualités</a>
 </div>
 <div fxLayout.xs="row" fxLayoutGap.xs="15px" fxShow.xs="true" fxShow="false">  
        <a [routerLink]="['/acceuil']" linkColor> Evênements</a>
    
        <a [routerLink]="['/membres']" linkColor> Menbres</a>
    
        <a [routerLink]="['/acceuil']" linkColor> Contact</a>

        <span class="material-icons" (click)="openDialog()">account_circle</span> 
        
 </div> 
    <!--
    <div>
        <span class="material-icons">account_circle</span> 
    </div>
    -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

