.nous {
    background-color: blue;
}
.header {
    background-color:hotpink;
  }

  .qui {
    color: #FFFFFF;
    font-style: italic;
  }

  .creation {
    color: #333333;
    font: normal normal normal 18px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    font-style: italic;
  } 