<div fxLayout="column">
    <div  fxLayoutAlign="space-evenly center" class="nous">
        <span class="qui" [ngStyle.xs]="{'font-size.px': 30}"
        [ngStyle]="{'font-size.px': 50}">QUI SOMMES NOUS ?</span>
    </div>
    <div fxLayout="column"  fxLayoutAlign="space-around center">
        <div fxFlex="40"></div>
        <p class="creation">
            <span>
            Crée en 1999, nous sommes une association des jeunes sportifs de nationalité camerounaise vivant au Luxembourg, France et Belgique.
           </span>
        </p>
        <p class="creation">
            <span>
            Notre but est de rassembler les citoyens camerounais, afin que notre communauté puisse faire valoriser sa culture dans l'union Européenne.
        </span>
        </p>
        <p class="creation">
            <span>
            Notre objectif repose sur le Football qui est le sport roi pour les camerounais, ce qui nous permettra dans un premier temps de réunir un maximum de citoyens.         
        </span>
        </p>
        <div fxFlex="40"></div>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">
        <img src="/assets/img/background2zero.jpg" fxFlex="49">
        <div fxFlex="2"></div>
        <img src="/assets/img/background2zero.jpg" fxFlex="49">
    </div>
    <div class="header" fxLayout="column" [ngStyle.xs]="{'font-size.px': 15, color: '#FFFFFF',
    'font-style': 'italic'}" [ngStyle]="{'font-size.px': 30, color: '#FFFFFF',
    'font-style': 'italic' }" fxLayoutAlign="space-evenly center">
        <span>We believe all women can embrace who they are,</span>
        <span>can define their future, and can change the world.</span>
    </div>
    <div fxLayout="row" class="creation">
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div fxFlex="10"></div>
            <div fxLayout="column" fxLayoutAlign="center center">
            <span [ngStyle.xs]="{'font-size.px': 15, 'font-style': 'italic'}">
                Notre Mission
            </span>
            <div fxFlex="40"></div>
            <span [ngStyle.xs]="{'font-size.px': 8}">
                I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.
            </span>
        </div>
            <div fxFlex="10"></div>
        </div>
        <img src="/assets/img/background2zero.jpg" fxFlex="50">
    </div>
    <div fxLayout="row">
        <img src="/assets/img/background2zero.jpg" fxFlex="50">
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div fxFlex="10"></div>
            <div fxLayout="column" fxLayoutAlign="center center">
            <span [ngStyle.xs]="{'font-size.px': 15, 'font-style': 'italic'}">
                Notre Mission
            </span>
            <div fxFlex="40"></div>
            <span [ngStyle.xs]="{'font-size.px': 8}">
                I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.
            </span>
        </div>
            <div fxFlex="10"></div>
        </div>
    </div>
    <div class="nous"  fxFlex="50"fxLayout="column" fxLayoutAlign="space-evenly center">
        <div fxFlex="10"></div>
        <span [ngStyle]="{'font-size.px': 30, color: '#FFFFFF',
        'font-style': 'italic' }" [ngStyle.xs]="{'font-size.px': 15, color: '#FFFFFF',
        'font-style': 'italic'}">Nous avons besoin de votre soutien</span>
        <div fxFlex="10"></div>
        <button mat-raised-button color="accent">Faire un don</button>
        <div fxFlex="10"></div>
    </div>
    <div fxLayout="row">
        <div fxFlex="5"></div>
        <div fxFlex="28" fxLayout="column">
            <div fxFlex="15">&nbsp;</div>
            <span>Trois Frontières </span>
            <div fxFlex="15">&nbsp;</div>
            <span>
I'm a paragraph. Click here to add 
            </span>
            <span>
your own text and edit me. Let your
</span>
<span>
    users get to know you.
</span> 
<div fxFlex="15">&nbsp;</div>

<span>
Email: info@mysite.com
</span>
<span>
Phone: 123-456-7890
</span>
<span>
Registered Charity: 12345-67
</span>
        </div>
        <div fxFlex="33"></div>
        <div fxFlex="33">
            
A propos de nous

Actualités

Evênements

Contact
        </div>
    </div>
</div>


​


​

