<div fxLayout="column" fxLayoutAlign="space-evenly center">
<h1 mat-dialog-title>Connexion</h1>
<div mat-dialog-content>
    <mat-form-field>
      <mat-label>entrer email</mat-label>
        <input matInput [(ngModel)]="data.email" name="email">
      </mat-form-field>
      <br>
      <br>
  <mat-form-field>
    <mat-label>entrer password</mat-label>
    <input matInput [(ngModel)]="data.password" email="password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="onNoClick()">Connexion</button>
</div>
</div>
